fastapi
uvicorn[standard]
requests
SQLAlchemy
sqlmodel
passlib[bcrypt]
python-jose[cryptography]
python-multipart
bcrypt==3.2.0

# AI and external providers
google-generativeai
google-api-python-client
spotipy

# Config and scheduling
python-dotenv
dateparser

# HTTP client
httpx
